@font-face {
    font-family: 'BPGArial';
    src: url('font/BPGArial.eot?#iefix') format('embedded-opentype'),
        url('font/BPGArial.woff') format('woff'),
        url('font/BPGArial.ttf')  format('truetype'),
        url('font/BPGArial.svg#BPGArial') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BPGBannerCaps';
    src: url('font/BPGBannerCaps.eot?#iefix') format('embedded-opentype'),  
        url('font/BPGBannerCaps.woff') format('woff'), 
        url('font/BPGBannerCaps.ttf')  format('truetype'), 
        url('font/BPGBannerCaps.svg#BPGBannerCaps') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('uikit/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),  
        url('uikit/fonts/fontawesome-webfont.woff') format('woff'), 
        url('uikit/fonts/fontawesome-webfont.ttf')  format('truetype'), 
        url('uikit/fonts/fontawesome-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    width: 100%;
    z-index: 3;
}

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.wrap {
    width: 100%;
}
.wrap-background {
    width: 100%;
    background-color: #f0f0f0;
}
.centerV {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* header */
header {
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;
    background: #ffffff;
}
.menu-resp {
    list-style: none;
    padding-top: 20px;
    padding-left: 0px !important;
}
.menu-resp li {
    list-style: none;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(151, 151, 151);
}
.menu-resp li a {
    font-size: 14px;
    font-family: "Georgia";
    color: #FFFFFF;
}
.left-menu {
    width: 200px;
    background-color: #303030;
}
.header {
    max-width: 1160px;
    padding: 20px 20px 0px 20px;
    margin: 0 auto;
    z-index: 5;
}
.menu-left-button {
    float: right;
	background: none;
	border: none;
	color: #76c38f;
    padding: 0px;
}
.logo img {
    height: 65px;
}
.header-top {
    width: 100%;
}
.header-top div{
    float: right;
    margin: 5px 5px 10px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.header-top div p {
    float: left;
    color: #58585a;
    font-size: 14px;
    line-height: 29px;
    margin: 0px !important;
}
.header-top div a {
    float: right;
    color: #58585a;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px 0px;
    line-height: 21px;
    padding: 0px 4.5px;
    transition: 0.5s;
}
.header-menu-lang-divider {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    margin-left: 20px !important;
}
.header-top div a:hover {
    text-decoration: underline;
}
.menu {
    width: 100%;
    right: 0px;
}
.menu ul {
    float: right !important;
    background-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px !important;
}
.menu li {
    margin-top: 5px !important;
}
.menu a {
    font-size: 18px;
    font-family: BPGBannerCaps;
    color: #58585a;
    padding: 10px !important;
    transition: 0.5s;
}
.menu-drop ul li, .menu-drop ul hr {
    width: 100%;
    margin: 0;
}
@media screen and (min-width: 849px) and (max-width: 1049px) {
    .header {
        padding-top: 10px;
    }
    .header-top div p {
        font-size: 12px;
        line-height: 25px;
    }
    .header-top div a {
        font-size: 12px;
        margin: 4px 0px 4px 2px;
        line-height: 17px;
        transition: 0.5s;
    }
    .header-menu-lang-divider {
        margin-left: 10px !important;
        padding-right: 4.5px !important;
    }
    .menu li {
        margin-top: 2.5px;
    }
    .menu a {
        font-size: 16px;
        padding: 3.5px !important;
    }
    .logo img {
        height: 45px;
    }
}
@media screen and (min-width: 768px) and (max-width: 849px) {
    .header {
        padding-top: 10px;
    }
    .header-top div p {
        font-size: 10px;
        line-height: 21px;
    }
    .header-top div a {
        font-size: 10px;
        margin: 4px 0px 4px 2px;
        line-height: 13px;
        transition: 0.5s;
    }
    .header-menu-lang-divider {
        margin-left: 10px !important;
        padding-right: 4.5px !important;
    }
    .menu li {
        margin-top: 1.5px;
    }
    .menu a {
        font-size: 14px;
        padding: 2.5px !important;
    }
    .logo img {
        height: 45px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 0px;
    }
    .logo img {
        height: 40px;
    }
    .logo {
        display: flex;
        justify-content: space-between;
    }
}
/* header end */
/* slider */
.slider {
    margin: 0 auto;
    left: 0px;
    width: 100%;
    height: 400px;
    margin-top: 0px;
    z-index: 2;
}
.slider .uk-slideshow {
    height: 400px !important;
    list-style: none;
    padding: 0 !important;
}
.slider .uk-slideshow li {
    height: 400px;
    margin-top: 0px;
    list-style: none;
}
.slider .uk-slideshow li img {
    height: 400px;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
.slider .uk-dotnav a {
    width: 30px;
    height: 10px;
    border-radius: 0px !important;
    background-color: #ed1c24;
}
.slider .uk-dotnav a {
    width: 30px;
    height: 10px;
    border-radius: 0px !important;
    background-color: #ed1c24;
}
.slider .uk-dotnav li {
    padding: 20px 10px;
    background-color: rgba(88, 88, 90, 0.5);
}
.slider .uk-dotnav li:first-child {
    padding-left: 20px;
}
.slider .uk-dotnav li:last-child {
    padding-right: 20px;
}
.slider-dot {
    max-width: 1160px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.slider-dot .uk-active a{
    background-color: #cccccc;
}
.slider-dot ul {
    margin-left: 20px !important;
}
.uk-dotnav {
    justify-content: left;
}
@media screen and (max-width: 768px) {
    .slider, 
    .slider .uk-slidenav-position,
    .slider .uk-slideshow,
    .slider .uk-slideshow li,
    .slider .uk-slideshow li img {
        height: 300px !important;
    }
}
/* slider end */
/* product-side-bar */
.product-side-bar {
    background-color: #f0f0f0;
    max-width: 1160px;
    padding: 0px 20px 30px 20px;
    margin: 0 auto;
}
.product, .side-bar-block {
    padding-top: 30px;
}
.product-item {
    padding: 0px 15px 15px 0px;
}
.product-list {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.product-list img {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px #888888;
}
.product-list p {
    position: absolute;
    width: 100%;
    padding: 10px;
    line-height: 30px;
    margin: 0 auto;
    top: 0;
    transform: translateY(-100%);
    transition: 0.5s;
    background-color: rgba(88, 88, 90, 0.5);
    font-size: 24px;
    font-family: BPGBannerCaps;
    color: rgb(255, 255, 255);
    text-align: center;
}
.product-list i {
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    margin: 0 auto;
    right: 25px;
    transition: 0.8s;
    font-size: 18px;
    font-family: FontAwesome;
    color: rgb(255, 255, 255);
    text-align: right;
    border-radius: 50%;
    border: 2px solid #ffffff;
    padding: 14px;
    text-align: center;
}
.product-list:hover i {
    transform: translateY(-150%);
    cursor: pointer;
}
.product-list:hover p {
    transform: translateY(0%);
    cursor: pointer;
}
.side-bar-block {
    padding-left: 0px;
}
.side-bar-head-block {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.side-bar-head i {
    float: left;
    font-family: FontAwesome;
    color: rgb(88, 88, 90);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 5px 7.5px;
    font-weight: 900;
}
.side-bar-head .uk-icon-angle-left, 
.side-bar-head .uk-icon-angle-right {
    float: right;
} 
.side-bar-head h3 {
    float: left;
    font-family: BPGBannerCaps;
    color: rgb(88, 88, 90);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 5px;
}
.side-bar-head a {
    float: right;
    font-family: BPGBannerCaps;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 5px;
    background-color: #ed1c24;
}
.side-bar-news-block {
    width: 100%;
    box-sizing: border-box;
}
.side-bar-new {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
}
.side-bar-new-middle {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(88, 88, 90, 0.749);
    border-bottom: 1px solid rgba(88, 88, 90, 0.749);
}
.side-bar-news {
    width: 100%;
    background-color: #ffffff;
}
.side-bar-news span {
    width: 100%;
    font-size: 14px;    
    font-family: "BPGIngiriArial";
    color: rgba(88, 88, 90, 0.749);
    padding: 0;
    margin: 0;
}
.side-bar-news h4 {
    width: 100%;
    font-size: 18px;
    font-family: BPGBannerCaps;
    color: rgb(213, 0, 0);
    padding: 0;
    margin: 0;
}
.side-bar-news p {
    width: 100%;
    font-size: 16px;
    font-family: "BPGIngiriArial";
    color: rgb(88, 88, 90);
    padding: 0;
    margin: 5px 0px;
}
@media (max-width: 1130px){
    .side-bar-head .uk-icon-angle-left, 
    .side-bar-head .uk-icon-angle-right,
    .side-bar-head a {
        display: none;
    }
}
@media screen and (min-width: 849px) and (max-width: 1049px) {
    .product-list p {
        padding: 5px;
        line-height: 20px;
        font-size: 18px;
    }
    .product-list i {
        right: 12.5px;
    }
    .product-list:hover i {
        transform: translateY(-125%);
    }
}
@media screen and (min-width: 768px) and (max-width: 849px) {
    .product-list p {
        padding: 5px;
        line-height: 18px;
        font-size: 16px;
    }
    .product-list i {
        right: 12.5px;
    }
    .product-list:hover i {
        transform: translateY(-125%);
    }
}
@media screen and (max-width: 768px) {
    .product {
        margin-bottom: 5px;
    }
    .product-side-bar {
        padding: 0px 10px 10px 0px;
    }
    .product-item {
        padding: 0px 0px 10px 10px !important;
        margin: 0px !important;
    }
    .product-list i {
        transform: translateY(-150%);
    }
    .side-bar-block {
        padding-top: 0px;
        padding-left: 10px;
    }
    .side-bar-head .uk-icon-angle-left, 
    .side-bar-head .uk-icon-angle-right,
    .side-bar-head a {
        display: block;
    }
}
/* product-side-bar end */
/* counters */
.counter-block {
    background: url(images/n1.jpg) no-repeat center;
    padding-top: 40px !important;
    padding-bottom: 35px !important;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-color: #f0f0f0;
}
.counter {
    margin: 0 auto;
    max-width: 1160px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}
.counter .uk-grid {
    margin-left: -10px;
}
.counter-item {
    position: relative;
    text-align: center;
    color: #ffffff;
    padding: 10px 0px 10px 10px;
    line-height: 1.3;
}
.counter-number {
    font-size: 60px;
    font-family: BPGBannerCaps;
}
.counter-t {
    font-size: 35px;
    font-family: BPGBannerCaps;
}
.counter-t sub {
    font-size: 16px;
    top: -20px;
}
.counter-text {
    font-size: 20px;
    font-family: BPGBannerCaps;
}
/*counters end */
/* project */
.project-block {
    max-width: 1160px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}
.project-head-block {
    position: relative;
    margin-bottom: 20px;
}
.project-head .uk-icon-truck {
    float: left;
    font-family: FontAwesome;
    color: rgb(88, 88, 90);
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    padding: 0px !important;
}
.project-head h3 {
    float: left;
    font-family: BPGBannerCaps;
    color: rgb(88, 88, 90);
    margin: 0;
    line-height: 40px;
    font-size: 24px;
    text-align: left;
    padding-left: 15px;
}
.project-head .uk-icon-angle-right,
.project-head .uk-icon-angle-left {
    float: right;
    font-family: FontAwesome;
    color: rgb(88, 88, 90);
    font-size: 40px;
    padding: 0px 10px 10px 0px;
    font-style: normal;
    text-align: right;
    text-decoration: none;
    font-weight: 900;
}
.project-head-all {
    position: absolute;
    right: 0px;
}
.project-head a {
    float: right;
    font-size: 18px;
    font-family: BPGBannerCaps;
    color: rgb(255, 255, 255);
    background-color: #ed1c24;
    padding: 10px 20px;
}
.project-body {
    position: relative;
    margin-left: -10px;
}
.project-item {
    padding-left: 10px;
}
.project-item img {
    width: 100%;
}
.project-item h4 {
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: 40px;
    font-size: 20px;
    font-family: BPGBannerCaps;
    color: rgb(88, 88, 90);
    background-color: #ffffff;
    border: 1px solid rgb(88, 88, 90);
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
}
@media screen and (min-width: 849px) and (max-width: 1049px) {
    .project-item h4 {
        bottom: 32px;
        font-size: 16px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
}
@media screen and (min-width: 768px) and (max-width: 849px) {
    .project-item h4 {
        bottom: 28px;
        font-size: 14px;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .project-block {
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .project-head-block {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
    .project-item h4 {
        bottom: 32px;
        font-size: 16px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .project-block {
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .project-head-block {
        margin-bottom: 10px;
    }
    .project-head .uk-icon-truck {
        font-size: 26px;
        line-height: 30px;
    }
    .project-head h3 {
        font-size: 19px;
        line-height: 30px;
        padding-left: 5px;
    }
    .project-head .uk-icon-angle-right,
    .project-head .uk-icon-angle-left {
        font-size: 26px;
        line-height: 30px;
        padding: 0px 5px 0px 0px;
    }
    .project-head a {
        font-size: 16px;
        padding: 5px 10px;
    }
}
/* project end */
/* pathers */
.partners-block {
    width: 100%;
    margin: 0 auto;
    background: url(images/partners-back.jpg) repeat;
    padding: 40px 10px;
}
.partners-arrow {
    color: rgb(88, 88, 90) !important;
    width: 20px !important;
}
.partners-arrow-left {
    left: 0px !important;
}
.partners-arrow-right {
    right: 0px !important;
}
.partners-item {
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.partner {
    padding: 0px 10px;
}
@media screen and (max-width: 767px) {

    .partners-arrow {
        display: block !important;
        font-size: 40px !important;
        width: 40px !important;
    }
    .partners-arrow-left {
        left: 0px !important;
    }
    .partners-arrow-right {
        right: 0px !important;
    }
}
/* footer */

.footer-block {
    width: 100%;
    margin: 0 auto;
    background-image: url(images/footer-back.png);
}
.footer-block-color {
    background-color: rgba(255, 255, 255, 0.6 );
}
.footer {
    max-width: 1160px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    padding-top: 25px;
}

/* responsive */ 

@media screen and (max-width: 767px) {

    .pathers-arrow {
        display: block !important;
        font-size: 40px !important;
        width: 40px !important;
    }
    .pathers-arrow-left {
        left: 0px !important;
    }
    .pathers-arrow-right {
        right: 0px !important;
    }
    .footer {
        padding-top: 20px;
    }
}
